.App {
  text-align: center;
}
h1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(172, 0, 0));
  font-family: cursive;
  margin: 0;
  font-size: 5vw;
  width: 100vw;
  padding: 10px;
}

main {
  display: flex;
  align-items: center;
  width: 80vw;
  text-align: left;
  margin: 10vw;
  border: 3px solid black;
}
p {
  margin-left: 1vw;
  padding: 1vw;
  font-weight: 700;
  font-size: 3vw;
}
section {
  display: flex;
  justify-content: space-between;
}
.colorBox {
  border: 3px solid black;
  width: 13vw;
  height: 13vw;
  margin: 1vw;
}
.ColorBoxImage {
  background-image: url(./assets/RockOn.png);
  background-size: 12vw;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1030px) {
  main {
    width: 70vw;
    margin: 2vw 15vw 2vw 15vw;
  }
  p {
    margin-left: 0.5vw;
    padding: 0.5vw;
    font-size: 2vw;
  }
}
